<li class="nav-item">
    <a class="nav-link" href="{{ path('patrimoine_index') }}"><i class="fas fa-list"></i> Patrimoines</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('patrimoine_new') }}"><i class="fas fa-plus"></i> Ajouter une patrimoine</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('patrimoine_type_index') }}">Types <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('patrimoine_statut_index') }}">Statuts</a>
</li>
