<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Patrimoine{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/patrimoine/favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}

    <link href="{{ asset('bundles/patrimoine/css/app.css') }}" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

</head>
<body>
{% set action = app.request.attributes.get("_route") %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <i class="fa fa-chess-rook"></i>
            <span class="fs-4">Patrimoine</span>
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include '@Patrimoine/_menu.html.twig' %}
        {% endif %}
    </header>
</div>

<main role="main" {% block main_class %}class="container pt-3"{% endblock %}>

    {% include '@Patrimoine/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="mb-5 d-print-none">

    </footer>
{% endblock %}
{% block scripts %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
