<div class="d-grid gap-2 d-md-block mb-3">
    <a href="{{ path('patrimoine_localite_edit', { 'id': localite.id }) }}" role="button"
       class="btn btn-primary"><i
                class="far fa-edit"></i> Editer</a>

    <a href="{{ path('patrimoine_localite_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
        Retour à la Liste</a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</div>
<br/><br/>
