{% extends '@AcMarchePatrimoine/layout.html.twig' %}

{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ localite }}</h3>
        </div>
        <div class="card-body">

            {% include '@Patrimoine/localite/_actions.html.twig' %}

            <br/><br/>

        </div>
    </div>
{% endblock %}
